{{ define "main" }}
      <div class="jt-posts-list">
        {{ $pag := .Paginate (where site.RegularPages "Type" "in" site.Params.mainSections) }}
        {{ range $pag.Pages }}
        {{ partial "post_preview" . }}
        {{ end }}
        {{ partial "pagination.html" . }}
      </div>

      {{/*  {{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
      <ul class="jt-pager">
        {{ if .Paginator.HasPrev }}
        <li class="previous">
          <a href="{{ .Permalink }}page/{{ .Paginator.Prev.PageNumber }}/">&larr; {{ i18n "newerPosts" }}</a>
        </li>
        {{ end }}
        {{ if .Paginator.HasNext }}
        <li class="next">
          <a href="{{ .Permalink }}page/{{ .Paginator.Next.PageNumber }}/">{{ i18n "olderPosts" }} &rarr;</a>
        </li>
        {{ end }}
      </ul>
      {{ end }}  */}}
{{ end }}