{{- $headScratch := newScratch -}}
{{- $headScratch.Set "img" ($.Page.Resources.GetMatch ($.Params.src)) -}}
{{- $headScratch.Set "bgStyle" "{}" -}}
{{ with $.Params.background }} {{ $headScratch.Set "bgStyle" (printf "{ background-color: %s}" $.Params.background )}} {{ end }}
{{ with $.Params.size }} {{ $headScratch.Set "img" (($headScratch.Get "img").Resize (printf "%s" $.Params.size)) }} {{ end }}
{{ $img := $headScratch.Get "img" }}
{{ $bgStyle := $headScratch.Get "bgStyle" }}
{{ with $.Params.nomargin }}
<div>
{{ else }}
<div class="jt-box">
{{ end }}
  <figure>    
    {{ with $.Params.link }}
      <a href="{{.}}" alt="{{ $.Params.caption }}">        
        <img src="{{ $img.RelPermalink }}" width="{{ $img.Width }}" height="{{ $img.Height }}" alt="{{ $.Params.alt | default ($.Params.caption) }} Preview Image" />  
      </a>
    {{ else }}
      <img src="{{ $img.RelPermalink }}" width="{{ $img.Width }}" height="{{ $img.Height }}" alt="{{ $.Params.alt | default ($.Params.caption) }} Preview Image" />  
    {{ end }}
    {{- with ($.Params.caption) }}
      <figcaption>
        {{- if and ($.Params.caption) ($.Params.link) }}
          <p>
            <a href="{{ $.Params.link }}">{{ $.Params.caption }}</a>
          </p>
        {{- else }}
          <p>{{ $.Params.caption }}</p>
        {{- end }}
      </figcaption>
    {{- end }}
  </figure>
</div>
