{{ if $.Param "socialShare" }}
{{ if ne .Type "page" }}
  <div class="jt-asideSection">
    {{ partial "share-links.html" . }}
  </div>
{{ end }}
{{ end }}
{{ if eq .Type "page" }}
<div class="jt-asideSection">
  <h2>See a full listing of the sites:</h2>
  <p>
    <a href="/tags">Article Topics</a>
  </p>
  <p>
    <a href="/series">Article Series</a>
  </p>
</div>
{{ end }}
{{ if .Params.tags }}
  <div class="jt-asideSection">
    <h2>Tags</h2>
    {{ partial "taglist.html" . }}
  </div>
{{ end }}
{{ if .Site.Params.showRelatedPosts }}
  {{ range first 1 (where (where .Site.Pages ".Params.tags" "intersect" .Params.tags) "Permalink" "!=" .Permalink) }}
    {{ $.Scratch.Set "has_related" true }}
  {{ end }}
  {{ if $.Scratch.Get "has_related" }}
    <div class="jt-asideSection">
      <h2>{{ i18n "seeAlso" }}</h2>
      <ul class="symp-list">
      {{ $num_to_show := .Site.Params.related_content_limit | default 5 }}
      {{ range first $num_to_show (where (where .Site.Pages ".Params.tags" "intersect" .Params.tags) "Permalink" "!=" .Permalink) }}
        <li>{{ partial "sympraxis_star.html" . }}<a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
      {{ end }}
      </ul>
    </div>
  {{ end }}
{{ end }}
<div class="jt-asideSection">
  <h2>About the Author</h2>
  <div class="jt-aside-headshot">
    <img src="{{ .Site.Params.headshot | absURL }}" alt="{{ .Site.Author.name }} headshot" />
  </div>
  <div class="jt-highlight">{{ .Site.Author.name }}</div>
  <div class="jt-subhighlight">Partner/CTO</div>
  <div class="jt-subhighlight">
    <a href="https://sympraxisconsulting.com" target="_blank">
      <img class="jt-sympimg" src="/img/SympraxisLogo.png" alt="Sympraxis Consulting Logo" />
    </a>
  </div>
  <div class="jt-listcont">
    <ul class="symp-list">
      <li>{{ partial "sympraxis_star.html" . }}Microsoft MVP since 2017</li>
      <li>{{ partial "sympraxis_star.html" . }}<a href="https://aka.ms/m365pnp" target="_blank">Microsoft 365 PnP Team member since 2019</a></li>
      <li>{{ partial "sympraxis_star.html" . }}<a href="https://pnp.github.io/pnpjs/" target="_blank">PnPjs maintainer</a></li>
      <li>{{ partial "sympraxis_star.html" . }}<a href="https://lab.n8d.studio/htwoo/" target="_blank">HTWOO maintainer</a></li>
      <li>{{ partial "sympraxis_star.html" . }}<a href="https://symp.info/CloudDevClarity" target="_blank">CloudDev Clarity co-host</a></li>
      <li>{{ partial "sympraxis_star.html" . }}<a href="https://symp.info/browser-native" target="_blank">Browser Native co-host</a></li>
      <li>{{ partial "sympraxis_star.html" . }}<a href="https://symp.info/AskSympraxis" target="_blank">Ask Sympraxis Bi-Weekly Videocast</a></li>
    </ul>
  </div>
</div>