{{ if eq .Type "page" }}
{{ partial "page_meta.html" . }}
{{ end }}
        <ul class="hoo-meta-list">
          {{ range .Site.Data.julieturner.social.social_icons }}
          {{- if isset $.Site.Author .id }}
          <li>
            {{ if or ( hasPrefix ( index $.Site.Author .id ) "http://" ) ( hasPrefix ( index $.Site.Author .id )
            "https://" ) }}
            <a {{ if .rel }}rel="{{ .rel }}" {{- end -}} href="{{ printf " %s" (index $.Site.Author .id) }}"
              title="{{ .title }}">
              {{ else }}
              <a {{ if .rel }}rel="{{ .rel }}" {{- end -}} href="{{ printf .url (index $.Site.Author .id) }}"
                title="{{ .title }}">
                {{ end }}
                <span class="fa-stack fa-lg">
                  <i class="{{ .icon }} fa-stack-1x fa-inverse"></i>
                </span>
              </a>
          </li>
          {{- end -}}
          {{ end }}
          {{ if .Site.Params.rss }}
          <li>
            <a href="{{ with .OutputFormats.Get " RSS" }}{{ .RelPermalink }}{{ end }}" title="RSS">
              <span class="fa-stack fa-lg">
                <i class="fas fa-rss fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {{ end }}
        </ul>
        <p class="jt-copyright">
          {{ if .Site.Author.name }}
          {{ if .Site.Author.website }}
          <a target="_blank" href="{{ .Site.Author.website }}">{{ .Site.Author.name }}</a>
          {{ else }}
          {{ .Site.Author.name }}
          {{ end }}
          {{ end }}

          &nbsp;&bull;&nbsp;&copy;
          {{ if .Site.Params.since }}
          {{ .Site.Params.since }} - {{ .Site.LastChange.Format "2006" }}
          {{ else }}
          {{ .Site.LastChange.Format "2006" }}
          {{ end }}

          {{ if .Site.Title }}
          &nbsp;&bull;&nbsp;
          <a href="{{ "" | absLangURL }}">{{ .Site.Title }}</a>
          {{ end }}
        </p>

<!-- FontAwesome Icons -->
<script src="{{ "js/solid.min.js" | absURL}}"></script>
<script src="{{ "js/brands.min.js" | absURL}}"></script>
<script src="{{ "js/fontawesome.min.js" | absURL}}"></script>
<!-- Helper Functions -->
<script src="{{ "js/main.js" | absURL }}"></script>

<!-- Google Custom Search Engine -->
{{ if .Site.Params.gcse }}
<script>
  (function () {
    var cx = '{{ .Site.Params.gcse }}';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
{{ end }}

{{ if and .Site.Params.delayDisqus .Site.DisqusShortname }}
<script id="dsq-count-scr" src="//{{ .Site.DisqusShortname }}.disqus.com/count.js" async></script>
{{ end }}
