{{ $icons := resources.Get "icons.svg" }}
<nav class="jt-navbar">
  {{ if isset .Site.Params "logo" }}  
    <a class="jt-logo" title="{{ .Site.Title }}" href="{{ "" | absLangURL }}" alt="Julie Turner development blog for Microsoft 365, SharePoint, Teams, and Azure">
      {{ partial "logo.html" . }}
    </a>      
  {{ end }}
  <menu class="jt-nav-links">
    {{ range .Site.Menus.main.ByWeight }}
      {{ if .HasChildren }}
        <li class="jt-nav-item">
          <a class="navlinks-parent">{{ .Name }}</a>
          <div class="navlinks-children">
            {{ range .Children }}
              <a href="{{ .URL | relLangURL }}">{{ .Name }}</a>
            {{ end }}
          </div>
        </li>
      {{ else }}
        <li class="jt-nav-item">
          <a title="{{ .Name }}" href="{{ .URL  | relLangURL }}">{{ .Name }}</a>
        </li>
      {{ end }}
    {{ end }}
    {{ if isset .Site.Params "gcse" }}
      <li class="jt-nav-item">
        <button class="hoo-buttonicon" aria-label="Button" onclick="jtBlogMain.showDialog()">
          <svg class="hoo-icon-svg icon-search" aria-hidden="true">
            <use xlink:href="{{ $icons.RelPermalink }}#icon-search"></use>
          </svg>
        </button>
      </li>
    {{ end }}
  </menu>
</nav>

<!-- Search Modal -->
{{/*  {{ if isset .Site.Params "gcse" }}
  <div id="modalSearch" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">{{ i18n "gcseLabelLong" . }}</h4>
        </div>
        <div class="modal-body">
          <gcse:search></gcse:search>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">{{ i18n "gcseClose" }}</button>
        </div>
      </div>
    </div>
  </div>
{{ end }}  */}}

{{/*  is-visible  */}}
<dialog class="hoo-mdldialog-outer">
  <div class="hoo-mdldialog" style="--lqdDialogHeight: 60vh; --lqdDialogWidth: 60vw;">
    <div class="hoo-dlgheader">
      <div class="hoo-dlgheader-title"><h2>{{ i18n "gcseLabelLong" . }}</h2></div>
      <div class="hoo-dlgheader-closer">
        <button class="hoo-buttonicon" aria-label="Button" onclick="jtBlogMain.hideDialog()">
          <span class="hoo-icon">
            <svg class="hoo-icon-svg icon-close" aria-hidden="true">
                <use xlink:href="{{ $icons.RelPermalink }}#icon-close"></use>
            </svg>
        </span>
        </button>
      </div>
    </div>
    <div class="hoo-dlgcontent">
      <gcse:search></gcse:search>
    </div>
  </div>
</dialog>