<article class="jt-article jt-post-preview">
  {{ if .Params.bigimg }}{{ $.Scratch.Set "bigimg" .Params.bigimg }}{{ end }}
  {{ $bigimg := $.Scratch.Get "bigimg" }}
  {{ $img := index ($bigimg) 0 }}
 
    <a href="{{ .Permalink }}">
        <h2 class="jt-post-title">{{ .Title }}</h2>
        {{ if .Params.subtitle }}
        <h3 class="post-subtitle">
            {{ .Params.subtitle }}
        </h3>
        {{ end }}
        {{ if .Params.image }}
        <img src="{{ .Params.image }}" alt="{{ .Title }}" class="img-title" />
        {{ end }}
        {{ if .Params.video }}
        <video loop autoplay muted playsinline class="img-title">
            <source src="{{ .Params.video }}">
        </video>
        {{ end }}
    </a>

    <p class="jt-post-meta">
        {{ partial "post_meta.html" . }}
    </p>

    <div class="jt-post-entry">
      <figure>
        {{ with .Resources.GetMatch $img.src }}
          {{ with .Resize "320x180" }}
            <img class="jt-post-preview-img" src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" alt="{{ .Title }} Preview Image" />
          {{ end }}
        {{ end }}        
      </figure>
      <p class="jt-post-preview">
        {{ if .Truncated }}
        {{ .Summary }}
        <a href="{{ .Permalink }}" class="post-read-more">[{{ i18n "readMore" }}]</a>
        {{ else }}
        {{ .Content }}
        {{ end }}
      </p>
    </div>
    
    {{ if .Params.tags }}
    {{ partial "taglist.html" . }}
    {{ end }}
</article>