{{ if or .Params.socialShare (and .Site.Params.socialShare (ne .Params.socialShare false)) }}
<h2>Share this post</h2>
<!-- Social Share Button HTML -->
<ul class="hoo-meta-list">
  <!-- Twitter -->
  <li>
    <a class="hoo-mtag" href="//twitter.com/share?url={{ .Permalink }}&amp;text={{ .Title }}&amp;via={{ .Site.Author.twitter }}"
      target="_blank" title="Share on Twitter">
      <i class="fab fa-twitter jt-mtag-icon"></i>
    </a>
  </li>

  <!-- Facebook -->
  <li>
    <a class="hoo-mtag" href="//www.facebook.com/sharer/sharer.php?u={{ .Permalink }}" target="_blank" title="Share on Facebook">
      <i class="fab fa-facebook jt-mtag-icon"></i>
    </a>
  </li>

  <!-- Reddit -->
  <li>
    <a class="hoo-mtag" href="//reddit.com/submit?url={{ .Permalink }}&amp;title={{ .Title }}" target="_blank" title="Share on Reddit">
      <i class="fab fa-reddit jt-mtag-icon"></i>
    </a>
  </li>

  <!-- LinkedIn -->
  <li>
    <a class="hoo-mtag" href="//www.linkedin.com/shareArticle?url={{ .Permalink }}&amp;title={{ .Title }}" target="_blank"
      title="Share on LinkedIn">
      <i class="fab fa-linkedin jt-mtag-icon"></i>
    </a>
  </li>

  <!-- Mastodon -->
  <li>
    <a class="hoo-mtag" href="//toot.kytta.dev/?text=Check%20out%20this%20article%20{{ .Title }}%20at%20{{ .Permalink }}" target="_blank"
      title="Share on Mastodon">
      <i class="fab fa-mastodon jt-mtag-icon"></i>
    </a>
  </li>
</ul>
{{ end }}