/* --- General --- */

body {
  font-family: 'Lora', 'Times New Roman', serif;
  font-size: 18px;
  color: #404040;
  position: relative;
  background: #FFF;
  display: flex;
  flex-flow: column;
  height: 100vh;
}
@media (prefers-color-scheme: dark) {
  body {
    background: black;
    color: white;
  }
}

p {
  line-height: 1.5;
  margin: 6px 0;
}
p + p {
    margin: 24px 0 6px 0;
}
p a {
  /* text-decoration: underline */
  color: #008AFF;
}
@media (prefers-color-scheme: dark) {
  p a {
    color: #50afff;
  }
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 800;
}
a {
  color: #008AFF;
}
@media (prefers-color-scheme: dark) {
  a {
    color: #50afff;
  }
}
a:hover,
a:focus {
  color: #0085a1;
}

::-moz-selection, ::selection {
  color: white;
  text-shadow: none;
  background: #0085a1;
}
img::selection, img::-moz-selection {
  color: white;
  background: transparent;
}


img {
  display: block;
  margin: auto;
  max-width: 100%;
}
@media (prefers-color-scheme: dark) {
figure:not(.dark) img, img.white {
  background-color: white;
}
}

/* --- Footer --- */

footer {
  padding: 30px 0;
  background: #F5F5F5;
  border-top: 1px #EAEAEA solid;
  margin-top: auto;
  font-size: 14px;
}

footer a {
  color: #404040;

}

footer .list-inline {
  margin: 0;
  padding: 0;
}
footer .copyright {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-align: center;
  margin-bottom: 0;
}
footer .theme-by {
  text-align: center;
  margin: 10px 0 0;
}

@media only screen and (min-width: 768px) {
  footer {
    padding: 50px 0;
  }
  footer .footer-links {
    font-size: 18px;
  }
  footer .copyright {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  footer {
    background: #444;
    border-top: 1px #AAA solid;
  }
  footer a {
    color: #AAA;
  }
}
